# AI API 配置
AI_API_URL=https://api.openai-hub.com/v1
AI_API_KEY=sk-bAfWBRFG4uwnV3D7tttXxNHWXgMbtX1Kf3tyQeVeoqZnEBgY
AI_MODEL_NAME=deepseek-v4-flash

# Supabase 配置
SUPABASE_URL=https://ejptyknksfmjeplxjqqf.supabase.co/rest/v1/
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVqcHR5a25rc2ZtamVwbHhqcXFmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI0MjExNDUsImV4cCI6MjA5Nzk5NzE0NX0.T5tUwoJgsNqdq0c5iaDGZ5w-uHc4uDFBPPFsL38Q1XU
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVqcHR5a25rc2ZtamVwbHhqcXFmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjQyMTE0NSwiZXhwIjoyMDk3OTk3MTQ1fQ.GeA2PBCvCEJkrywtml-OOSY3Ta47mvtKyPRY3Axaaj4